@font-face {
  font-family: "Roboto-Bold";
  src: url("police/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto-Light";
  src: url("police/Roboto-Light.ttf");
}
@font-face {
  font-family: "Shrikhand";
  src: url("police/Shrikhand-Regular.ttf");
}
html, body {
  font-family: "Roboto-Bold";
  margin: 0;
}

header, main, footer {
  width: 100%;
}

header {
  z-index: 1;
}
header img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

#title h1 {
  font-family: "Shrikhand";
  line-height: 5px;
}

#title {
  display: flex;
  align-items: center;
  justify-content: center;
}

header a {
  position: absolute;
  left: 25px;
  font-size: 20px;
  color: black;
}

main {
  z-index: 2;
  position: relative;
  top: -45px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background-color: #f7f7f7;
}

.menu {
  animation: slide-top1 0.5s linear both;
}

.menu:nth-child(3) {
  animation: slide-top2 1s linear both;
}

.menu:nth-child(4) {
  animation: slide-top3 1.5s linear both;
}

@keyframes slide-top1 {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes slide-top2 {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes slide-top3 {
  0% {
    transform: translateY(150px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
  }
}
#main-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#main-title h1 {
  padding-top: 20px;
  font-family: "Shrikhand";
  margin-left: 20px;
}
#main-title i {
  padding-top: 20px;
  font-size: x-large;
  margin-right: 30px;
}

.menu-title {
  border-bottom: solid #99E2D0;
  width: 40px;
  align-items: center;
  display: flex;
  margin-left: 5%;
  margin-bottom: 20px;
}
.menu-title h2 {
  font-family: "Roboto-Light";
  line-height: 10px;
  font-size: medium;
}

.menu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-block {
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 15px;
  width: 90%;
  max-width: 430px;
  height: 74px;
  -webkit-box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.33);
  overflow: hidden;
  position: relative;
}
.menu-block .menu-block-text {
  width: 80%;
  transition: width 1s;
}
.menu-block .menu-block-text h3 {
  margin-left: 5%;
  line-height: 16px;
  font-size: medium;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-block .menu-block-text p {
  font-family: "Roboto-Light";
  font-size: medium;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 5%;
  line-height: 16px;
  margin-top: 0;
}
.menu-block .menu-block-price {
  width: 20%;
  display: flex;
  justify-content: center;
  align-self: flex-end;
  margin-bottom: 5%;
}

#button {
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
  margin-top: 25px;
}
#button input {
  background: linear-gradient(166deg, #cd56dc 43%, #9356dc 100%);
  color: #f1f1f1;
  border-radius: 25px;
  border: unset;
  width: 50%;
  height: 45px;
  font-family: "Roboto-Bold";
  font-size: 15px;
  -webkit-box-shadow: 0px 6px 23px -3px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 6px 23px -3px rgba(0, 0, 0, 0.33);
}
#button:hover {
  opacity: 0.8;
}

footer {
  background-color: #272525;
  color: #cfcfcf;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-top: -45px;
}
footer h2, footer p {
  margin-left: 5%;
  line-height: 10px;
  font-size: medium;
}
footer h2 {
  font-family: "Shrikhand";
}
footer a:visited {
  color: #cfcfcf;
}

a {
  text-decoration: unset;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 74px;
  position: absolute;
  overflow: hidden;
  background-color: #99E2D0;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  right: 0%;
  transition: transform 1s;
  transform: translateX(101%);
}

.fa-check-circle {
  font-size: 30px;
  color: white;
}

@keyframes turn {
  50% {
    transform: rotate(0.5turn);
  }
  100% {
    transform: rotate(1turn);
  }
}
.menu-block:hover {
  justify-content: flex-start;
}
.menu-block:hover .box {
  transition: transform 1s;
  transform: translateX(0%);
}
.menu-block:hover .fa-check-circle {
  animation: turn 1s linear forwards;
}
.menu-block:hover .menu-block-text {
  width: 60%;
}

.like {
  position: absolute;
  right: 0;
  opacity: 0;
  color: #9356DC;
}
.like:hover {
  animation: like 0.3s linear both;
}

@keyframes like {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (min-width: 961px) {
  header img {
    height: 400px;
  }

  main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #main-title {
    width: 100%;
  }

  .menu {
    width: 32%;
  }

  #button {
    margin-left: 46%;
  }
  #button input {
    width: 120px;
  }

  #main-title h1 {
    margin-left: 5%;
  }
}
@media screen and (min-width: 481px) and (max-width: 960px) {
  main {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5%;
    align-items: stretch;
    justify-content: center;
  }

  #main-title {
    width: 100%;
  }
  #main-title h1 {
    margin-left: 5%;
  }

  .menu {
    width: 45%;
    min-width: 240px;
    justify-content: center;
  }

  #button {
    width: 45%;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
    min-width: 200px;
  }
}

/*# sourceMappingURL=subpage.css.map */
